*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100%;
    background: linear-gradient(45deg, #0057b9, #ff00f2, #008fbe);
}

button{
    border: 1px white solid;
    background-color: #ff00f2;
    color: white;
    border-radius: 30px;
    cursor: pointer;
}

.borda-baixa{
    border-bottom: white 1px solid;
    width: 70%;
    margin: 0 auto;
}

.info-tela{
    text-align: center;
    color: white;
    font-weight: 100;
    margin: 15px auto;
}

header{
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.nav{
    position: fixed;
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: #00e1ff3a;
    height: 50px;
    width: 90%;
    left: 50%;
    border-radius: 50px;
    top: 25px;
    transform: translate(-50%);
    align-items: center;
    z-index: 1;
}




.nav img{
    height: 45px;
    width: auto;
    margin: 3px 15px;
     
}

.nav ul{
    margin: 0 auto;
    display: flex;
}

.nav li, .nav a{
    margin: 0 auto;
    font-size: 20px;
    color: white;
    list-style: none;
}


.perfil{
    width: 100%;
    height: 99vh;
    margin: 0 auto;

    text-align: center; /*alinhamento horizontal dos textos*/
    justify-items: center; /*alinhamento horizontal dos elementos*/
    align-content: center; /*Alinhamento vertical das divs*/
}

.foto{
    width: 300px;

    text-align: center;

}

.foto img{
    border: 3px solid white;
    border-radius: 50%;
    margin: 0 auto;
    width: 200px;
}

.perfil-text{
    margin-top: 20px;
    margin-bottom: 80px;
    color: white;
}

.digitando h2{
    font-weight: 100;
    border-right: 2px solid white;
    width: 31ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(31), 
    blinking .5s step-end alternate;

}

@keyframes typing {
    from{/*from*/
        width: 0;
    }
    
}

@keyframes blinking {
    50%{
        border-color: transparent;
    }
    
}

.botoes{
    margin-bottom: -100px;
    width: 800px;
    height: 100px;
    align-content: center; /*alinhamento vertical*/
}

.botoes button{
    width: 150px;
    height: 60px;
    margin: auto 20px;
    font-size: 20px;
    font-weight: 100;
}

.botoes button:hover{
    background-color: #ffffff;
    border: 1px solid #ff00f2;
    color: #ff00f2;
}


 /*---------------------------------------------*/


.formacoes{
    height: 100vh;
    width: 95%;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15px auto;
}

.faculdade{
    color: white;
    width: 100%;
    height: 80vh;
    justify-items: center; /*alinhamento horizontal dos elementos*/
    align-content: center; /*Alinhamento vertical das divs*/
}

.faculdade h2{
    color: black;

}

.faculdade h2:hover{
    color: white;
}

.faculdade img{
    width: 150px;
    margin-bottom: 30px;
    border-radius: 30px;
}

.cursos{
    height: 80vh;
    width: 100%;
    display: grid;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.curso{
    background: #ffffff49; 
    margin: 5px; 
    height: 180px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    color: white;
    justify-items: center;
    border-radius: 30px;
    border: 1px solid white;
}

.curso:hover{
    background: #3d5aff49; 
}

.curso-img{
    height: 100px;
    width: 100%;

    align-content: center;
    text-align: center;
}

.curso-img img{
    border-radius: 20px;
    width: 80px;
    text-align: center;

}

.curso-text{
    height: 100px;
    align-content: center;
    width: 100%;

}


.curso h3{
    color: rgb(0, 0, 0);
    width: auto;}

.curso h3:hover{
    color: rgb(255, 255, 255);
}

.curso-descricao{
    grid-column: span 2;
    text-align: center;
    width: 90%;
}

.curso-descricao p{
    font-weight: 800;
    text-align: justify;
    font-family: "quicksand";
}

        /*----------------------------------*/



.projetos{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    display: grid;

}

.card{
    width: 95%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px auto;
    color: white;
}


.card img{
    height: 350px;
}



.card-info h1{
    margin-bottom: 50px;
}


.card-button{
    width: 210px;
    height: 50px;
    margin-top: 30px;
    cursor: pointer;
    font-weight: 800;
}

.card-button:hover{
    background-color: #ffffff;
    border: 1px solid #ff00f2;
    color: #ff00f2;
}

        /*----------------------------------*/

.contatos{
    margin: 35px auto;
    background: white;
    border-radius: 30px;
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contatos button{
    background-color: transparent;
    margin: auto 25px;
    width: 150px;
    height: 100px;
    color: black;
    border: 0px;
    cursor: pointer;
}

.ctt img{
    width: 50px;
    height: auto;
}

/*----------------------------------*/


.gui{

    height: 100px;
    text-align: center;
    margin: 15px auto;
    font-family: "arial";
    align-content: center;
    color: white;
}

.gui h1{
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 10px;
}

.gui h2{
    font-size: 18px;
    font-weight: 100;
}
